body {
  background-image: url('/GBD/houggbd/src/images/Houg.jpg');
  background-size: cover;
}

.container {
  background-color: #f0f0f0; /* Cor de fundo */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form {
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.button-limpar {
  background-color: #dc3545;
}

.button-limpar:hover {
  background-color: #bd2130;
}

.camisetas-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.camisetas-table th,
.camisetas-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.camisetas-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.camisetas-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.camisetas-table tr:hover {
  background-color: #ddd;
}
