/* Importar fonte Anton do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Estilização do h1 com fonte Anton */
h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: #fbfbfb;
  font-size: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: url('/src/images/houg.jpg') no-repeat center center;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

nav {
  text-align: center;
  padding: 20px;
  height: 140px;
  
}

.container {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  max-width: 1200px;
  color: #6e6e6e;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  background-image: url('/src/images/houg_background.jpg');
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-attachment: fixed;
  
}

.form {
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #6e6e6e;
  height: 40px;
  width: 20px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="file"],
.form button {
  width: auto;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #444;
}

.form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
}